* {
    margin:0;
    padding:0;
}

@font-face{
    src: url('../font/animeace2_reg.ttf');
    font-family: anime;
}

body {
    background-image: url('../img/one_piece.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

    display: flex; 
    justify-content: space-around;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.item1  {
    width: 350px;
    height: 800px;
    position: relative;
}

.item1:hover{
    border: 2px solid black;
}

.sub-item1, .img1  {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sub-item1{
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 800px;

    font-size: 20px;
    font-weight: bolder;
    font-family: anime;
    color: black;
}

.sub-item1:hover{
    opacity: 1;
}

.img1{
    z-index: -1;
}

/*-----------------------------------------*/

.item2  {
    width: 800px;
    height: 650px;
    position: relative;
}

.item2:hover{
    border: 2px solid black;
}

.sub-item2, .img2  {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sub-item2{
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 650px;

    font-size: 20px;
    font-weight: bolder;
    font-family: anime;
    color: black;
}

.sub-item2:hover{
    opacity: 1;
}

.img2{
    z-index: -1;
}

/*--------------------------------------------*/

.item3  {
    width: 350px;
    height: 800px;
    position: relative;
}

.item3:hover{
    border: 2px solid black;
}

.sub-item3, .img3  {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sub-item3{
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 800px;

    font-size: 20px;
    font-weight: bolder;
    font-family: anime;
    color: black;
}

.sub-item3:hover{
    opacity: 1;
}

.img3{
    z-index: -1;
}

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

iframe {
    position: absolute;
    bottom: 0px;
}
