* {
    margin:0;
    padding:0;
}

body {
    background-image: url('../img/one_piece.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

    display: flex;
    justify-content: space-around;
}

iframe {
    position:absolute;
    bottom: 0;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}