* {
    margin:0;
    padding:0;
}

body {
    background-image: url('../img/one_piece.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

    display: block;
    /* justify-content: space-around; */
}

.container{
    display: grid;
    grid-template-columns: 25fr 30fr 55fr;
    grid-template-rows: 50fr 50fr;
    grid-template-areas: 
        "training fighting leaving"
        ". chating .";
}

.item1{
    grid-area: training;
}

.item2{
    grid-area: fighting;
}

.item3{
    grid-area: leaving;
}

.item4{
    grid-area: chating;
}