* {
    margin:0;
    padding:0;
}

@font-face{
    src: url('../font/animeace2_reg.ttf');
    font-family: anime;
}

body{
    background-image: url('../img/background/palm_open.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;

    display: flex; 
    flex-direction: row;
    font-family: anime;
}

.save{
    width: 50%;
    height: 99.5vh;

    overflow-y: auto;
}

.les_notes{
    padding-bottom: 20px;
    
}

.gen_btn{
    display: flex;
    flex-direction: row;
}

/*////////////////////////////////////////////////////////////////////*/

.write{
    width: 50%;
    height: 99.5vh;

    display: flex;
    flex-direction: column;
}

.commentaire {
	width:80%;

    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    top: 20%;
    padding-left: 70px;
}

.note {
    margin-bottom: 10px;
    font-family: anime;
}

.sujet {
    margin-bottom: 10px;
    font-family: anime;
}

input{
    font-family: anime;
}

textarea{
    font-family: anime;
}

h1{
    text-align: center;
    width: 100%;
}

